body {
    font-family: Roboto, serif;
}

.logo {
    max-height: 95px;
    max-width: 200px;
}

.logo-footer {
    max-width: 18vw;
}

.log{
    width: 160px;
    height: 55px;
    max-height: 95px;
    max-width: 160px;
    background-image: url("../imagenes/logo.png");
    background-repeat: no-repeat;
    background-size: 110px;
    background-position: center;
}
.navbar{
      box-shadow: 0 3px 20px 0 rgba(0,0,0,.25);
}
#navbarSupportedContent li:hover{
  border-bottom: 2px solid #8fa702;
}
.inputborder{
  border: 1px solid black;
}
.line-logo {
    width: 200px;
    height: 35px;
    max-height: 95px;
    background-image: url("../imagenes/logolinea.png");
    background-size: contain;
    background-repeat: no-repeat;
  }


.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .titulo {
        margin-top: 8rem;
    }
}

.titulo span {
  font-size: 7vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212121;
}

@media (min-width: 768px) {
    .titulo span {
        font-size: 6vh;
    }
}

.no-border {
    border: none;
}

.carousel-inner {
    max-width: 1144px;
    max-height: 570px;
}


.event-image {
    height: 262px;
}


.nombre-evento {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: bold;
}

.badge-tipo-evento {
    background-color: #cf7d33;
    color: white;
    padding: 0.8em;
    margin-right: 3em;
    text-transform: uppercase;
}

.badge-tipo-evento.dark {
    background-color: #212121;
    position: relative;
    bottom: 1rem;
    margin-right: 0;
    max-width: 50%;
}


@media (min-width: 576px) and (max-width: 768px) {
    .badge-tipo-evento.dark {
        max-width: 80%;
    }
}

.container-floating-badge .card-body {
    padding-top: 0;
}

.atributos-evento {
    margin-top: 7vh;
}

.atributos-evento li {
    margin-bottom: 3vh;
}

.green-icon {
    color: #8fa702;
}

.round-button {
    border-radius: 52px;
    background-color: #8fa702;
    text-transform: uppercase;
    color: white;
    padding: 0.5em;
    width: 100%;
    max-width: 170px;
}

.round-button-outline {
    border-radius: 52px;
    color: #8fa702;
    border: solid 2px #8fa702;
    text-transform: uppercase;
    background-color: white;
    padding: 0.5em;
    width: 100%;
    max-width: 170px;
}

.sidebar {
    border-right: solid 1px #d8d8d8;

}

ul.no-style {
    padding-left: 0;
    list-style: none;
}

.sidebar li {
    padding-bottom: 1rem;
}

.sidebar .section-title {
    color: #212121;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.footer {
    margin-top: 2em;
    border-top: 2px solid #5ed3cd;
    padding-top: 2em;
}

.footer .footer-subtitle {
    padding-left: 0;
    font-weight: bold;
    color: #cf7d33;
    border-bottom: 2px solid #5ed3cd;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.footer li {
    padding-bottom: 0.5rem;
}

#form-contacto .row {
    margin-bottom: 1rem;
}

.info-link {
    color: #cf7d33;
    text-decoration: underline;
}

/*  Quienes somos */

.topics{

    border-radius: 52px;
    background-color: #8fa702;

    color: #fff;
}

#graphicsdesign{
    background-color: #8fa702;

}

#difusion{
    background-color: #8fa702;

    width: 50%;
}
#orgeventos{
    background-color: #8fa702;

}

.contactrow{
    border: 1.5px solid #000;
}

.workcontact{
    line-height: 0rem !important;
    margin-bottom: 0px !important;
}

#contactanosbtn{
    border-radius: 52px !important;
}
#contactInputEmail{
    width: 250px;
    border-radius: 8px;
    border: solid 1px #eaeaea;
    padding-left: 5px;
}
#contactInputEmail:focus{
    outline-style:none;
box-shadow:none;
border-color:transparent;
}
.our-team {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
    text-align: center;
}
.our-team .pic img {
    width: 100%;
    height: auto;
}
.our-team .title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}
.our-team .team-content {
    padding: 15px 10px;
    background: #fff;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.titulo-sobre-imagen {
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 50%);
}

.categoria {
    position: relative;
    height: 100%;
}

@media (max-width: 768px) {
    .contendedor-cuadros>div {
        height: 50vw;
    }

    .titulo-sobre-imagen {
        font-size: 1.5rem;
    }
}